<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - LaserApp Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">LaserApp</a>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                  
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="Lasers" asp-action="Index">Лазеры</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="Measurements" asp-action="Index">Измерения</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="JoinedData" asp-action="Index">Объединенные
                            данные</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="Charts" asp-action="Index">Графики</a>
                    </li>
                </ul>


                <div class="navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <span class="navbar-text me-3">Привет, @User.Identity.Name!</span>
                        <form asp-controller="Account" asp-action="Logout" method="post">
                            <button type="submit" class="nav-link btn btn-link text-light">Выход</button>
                        </form>
                    }
                    else
                    {
                        <a class="nav-link text-light" asp-controller="Account" asp-action="Login">Вход</a>
                    }
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - Client.Web
    </div>
</footer>
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.0/signalr.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>