@{ ViewData["Title"] = "Графики"; }
<h1>Графики</h1>

<div class="list-group">
    <a asp-action="LaserPositions" class="list-group-item list-group-item-action">
        График расположения лазеров
    </a>
    <a asp-action="IntensityTrend" class="list-group-item list-group-item-action">
        График тренда интенсивности
    </a>
    
    <a asp-action="RealTime" class="list-group-item list-group-item-action">
        График в Реальном Времени (ESP32)
    </a>
</div>